[Unit]
Description=reinforcement degrades performance
Requires=network.target
After=network.target

[Service]
DynamicUser=True
Type=forking
User=bart
Group=bart
PIDFile=/home/bart/.censor/censor.pid
WorkingDirectory=/home/bart/.censor
ExecStart=/home/bart/.local/pipx/venvs/censor/bin/censor -dv

[Install]
WantedBy=multi-user.target
